

#app-wrapper{
  width: 100vw;
  height:100vh;
  margin: 0; 
} 
#app-container { 
  display: grid; 
  grid-template-columns: 0.5fr 1fr 4fr 1fr 0.5fr;
  grid-template-rows: 1fr 7fr; 
}

#sidebar-container {
  grid-column: 2;
  grid-row: 2;
}

#main-container { 
  grid-column: 3;
  grid-row: 2; 
  background-color: #F9F9FB;
  padding: 2vw;
  border-radius: 4px;
}

body {
  font-family: Avenir;
  background-color: #E4E5EC;
  color: #1A2F38;
}

/*-----Design Elements------*/
.three-circles {
  height: 20px; 
}

.logo-big {
  height: 50vh;
  justify-self: center;
} 

/*---------Home Page-----------*/ 
#home-page { 
height: 100vh;
width: 100vw;  
background-image: url("./../images/Yellowback.png");
display: flex; 
align-content: center; 
justify-content: center;
}

#home-page img {
width: 600px;
height: 350px; 

}

#home-page:hover {
  cursor: pointer;
}

/*--------About Page--------*/
.title {
  text-align: center;
  margin: 0; 
}

#contact-info { 
  display: grid; 
  grid-template-columns: 49% 2% 49%; 
}

#left-side { 
  text-align: right;
  grid-column: 1; 
}

#right-side { 
  text-align: left;
  grid-column: 3; 
}



/*-------Sidebar-----------*/ 
#sidebar {
  display: grid; 
  grid-template-rows: 15vh 15vh 15vh 15vh;
}


#sidebar-item-container {
  width:75%;
  float: right;
  color: white; 
  justify-self: flex-end;
  text-decoration: none;
  border: 1px gray solid;
  height:100%; 
}
#sidebar-item-container:hover { 
  background-color: #E9C46A; 
}
#link {
  text-decoration: none;

}
#headshot {
  max-width: 100%;
}

/*---------Large Resume ----------*/
#popup-wrapper {
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  backdrop-filter: blur(8px);
  overflow: hidden;
  box-shadow: 15px 20px 40px 0.5px rgb(0, 0, 0, 0.45);
}

#popup {
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  background-color: #edf6f9;
  text-align: center;
  backdrop-filter: blur(8px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  overflow: scroll;
  box-shadow: 20px 30px 60px 0.5px rgb(0, 0, 0, 0.45);
}